<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niu.middleware.fight.one.model.mapper.ThreadCodeMapper" >
  <resultMap id="BaseResultMap" type="com.niu.middleware.fight.one.model.entity.ThreadCode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code
  </sql>
</mapper>